/* Fonts */
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
  --primary: #8a2be2;
  --secondary: #141212;
  --background: #0b0909;
  --border-color: #555252;
  --error: #db6f6f;
  --success: #34c759;
  --radius: 10px;
}

/* Element styles */
body {
  color: white;
  font-family: Inter;
  background-color: var(--background);
  background-image:
    radial-gradient(circle, var(--secondary) 1px, transparent 1px),
    radial-gradient(circle, var(--secondary), transparent 1px);
  background-size: 8px 10px;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
}
.form-container,
.card {
  border-radius: var(--radius);
  padding: 20px;
  min-width: 400px;
  background-color: var(--secondary);
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-field {
  display: grid;
}
button,
input,
textarea {
  padding: 10px;
  border: none;
}
input,
textarea {
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  background-color: var(--secondary);
  color: white;
}
button {
  border-radius: 25px;
  background-color: var(--secondary);
  cursor: pointer;
}
h1 {
  margin: 0;
  padding: 8px;
}
#middleView {
  width: 400px;
  background-color: var(--secondary);
  height: 100vh;
  padding-inline: 10px;
}

#mainView {
  width: 100%;
}
#bottomNav {
  display: none;
}
aside {
  margin: 0;
  padding: 10px;
  width: 60px;
  background-color: var(--background);
}

i {
  font-size: 15pt;
  padding: 10px;
}

i:hover {
  color: var(--primary);
}
.list {
  width: 100%;
}
/* Expected children: Image + Span*/
.chat-list-item {
  display: flex;
  align-items: center;
  margin-block: 10px;
  width: 98%;
  padding: 5px;
  border-radius: var(--radius);
  cursor: pointer;
}

.chat-list-item:hover {
  background-color: var(--background);
}
.chat-list-item span {
  margin: 5px;
  display: block;
  padding: 0;
}
.chat-list-item span p {
  margin: 0;
}
.avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
/* An alert element */
.alert {
  border: 1px solid var(--border-color);
  background-color: var(--background);
  border-radius: var(--radius);
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 2s ease-in-out;
}

.alert.error {
  background-color: var(--error);
}
.alert.success {
  background-color: var(--success);
}
/* Utility classes for styling */
ul {
  all: unset;
}
ul li {
  all: unset;
  margin: 0;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.bg-primary {
  background-color: var(--primary);
  color: white;
}
.bg-primary-text {
  color: white;
}
.text-primary {
  color: var(--primary);
}
.text-xs {
  font-size: 12px;
}
.bg-seconday {
  background-color: var(--secondary);
}
.text-secondary {
  color: var(--secondary);
}
.text-grey {
  color: var(--border-color);
}
.text-error {
  color: var(--error);
}
.text-success {
  color: var(--success);
}
.bg {
  background-color: var(--background);
}
.bg-background {
  background-color: var(--background);
}
.w-full {
  width: 100%;
}
.chat-view {
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: space-between;
}
.messages-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
}
.message {
  margin: 10px;
  border-radius: 25px;
  padding: 10px;
}

#messageTo {
  float: left;
  background-color: var(--secondary);
}
#messageFrom {
  float: right;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.chat-input {
  position: relative;
  bottom: 0;
  width: 100%;
  display: none;
}
.chat-input button {
  width: 100px;
  position: relative;
}
/* Mobile styles */
@media screen and (max-width: 700px) {
  .form-container {
    background-color: inherit;
  }
  .card-sm {
    min-width: 0px;
    max-width: 400px;
  }

  .sm-flex-col {
    flex-direction: column;
  }
  /* No sidebar on mobile */
  aside {
    display: none;
  }
  #middleView {
    width: 100svw;
  }
  #mainView {
    width: 100svw;
    height: 100svh;
    display: none;
  }
  #bottomNav {
    position: fixed;
    bottom: 0;
    width: 90svw;
    right: 10px;
    display: grid;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: var(--radius);
    background-color: var(--secondary);
  }
  #bottomNav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
}
.overlay,
#modal {
  display: none;
}
.overlay {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svw;
  opacity: 0.8;
}
#modal {
  position: fixed;
  z-index: 50;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;

  flex-direction: column;
  gap: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
